<template>
  <div class="hello">
    test
    <button @click="isbtn">按钮</button>
  </div>
</template>

<script>
import { apiAddress,apiAddressa } from '@/request/api';// 导入我们的api接口
// console.log(apiAddress,'apiAddress')

export default {
  name: 'index',
  data () {
    return {}
    
  },
  created(){
    this.onLoad();
  },
  mounted(){
    // https://www.baidu.com  http://localhost:3000/goods.json 
    // this.$axios.get('https://www.baidu.com/').then(res => {
		// 	console.log(res.data);
		// })
  },
  methods:{
    isbtn(){
      console.log('点击')
      this.onLoada()
    },
    onLoad() {
      let data ={
        type: 0,                    
        sort: 1    
      }
      // 调用api接口，并且提供了两个参数                
      apiAddress(data).then(res => {
        // 获取数据成功后的其他操作
        condole.log(res,'res')               
      })            
    },
    onLoada(){
      let data ={
        type: 0,                    
        sort: 1    
      }
      // 调用api接口，并且提供了两个参数                
      apiAddressa(data).then(res => {
        // 获取数据成功后的其他操作
        condole.log(res,'res')               
      })   
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
